@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto+Slab:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto Slab;
    background-color: rgb(60, 60, 65);
    color: rgb(240, 240, 240);
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    font-size: 2em;
}

#input-box {
    width: 100%;
    line-height: 1.5em;
    border: 1px solid rgb(26, 26, 26);
    color: rgb(220, 220, 220);
    background: rgb(36, 36, 36);
    padding: 15px 10px;
    font-size: 80%;
}